{% extends 'base.html.twig' %}

{% block title %}Curso index{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}
    <section id ="cursoList">
    <h1>lista de cursos</h1>

    
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th>Edicion</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursoList %}
            <tr>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.abreviatura }}</td>
                <td>{{ curso.edicion }}</td>
                <td>
                    <a href="{{ path('curso_edit', {'id': curso.id}) }}">Editar</a>
                </td>
                <td> 
                    <form method="post" action="{{ path('curso_delete', {'id': curso.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ curso.id) }}">
                        <button class="eliminarbutton">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay cursos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button>
	<a href="{{ path('admin') }}">Volver ↩</a>
	</button>
    
    </section>
        
{{ include('./admin/footer.html.twig')}}
{% endblock %}
