{% extends 'base.html.twig' %}

{% block title %}Nuevo libro
{% endblock %}

{% block body %}
	{{ include('./admin/header.html.twig')}}
	{# {{% include "template" %}} #}
	<div class="contenedor">
		<div class="libro">
			<section class="title">
				<h2>Crear nuevo libro</h2>
			</section>
			<section class="newLibro">
				{{ include('libro/_form.html.twig') }}
				<a href="{{ path('admin') }}">Volver a admin</a>
			</section>
			
			{# <h1>Subir varios libros</h1>																											
										 {{ include('libro/multiple_form.html.twig') }} #}
		</div>
	</div>
	{{ include('./admin/footer.html.twig')}}
{% endblock %}
