{% extends 'base.html.twig' %}

{% block title %}Nuevo libro
{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}

<section class="nuevo">
	<h2>Crear nuevo libro</h2>

	<section class="form">
		{{ include('libro/_form.html.twig') }}
		<a href="{{ path('admin') }}">Volver ↩</a>
	</section>
			
	{# <h1>Subir varios libros</h1>																											
	{{ include('libro/multiple_form.html.twig') }} #}
</section>

{{ include('./admin/footer.html.twig')}}
{% endblock %}
