{% extends 'base.html.twig' %}

{% block title %}Nuevo libro
{% endblock %}

{% block body %}
	{{ include('./admin/header.html.twig')}}
	{# {{% include "template" %}} #}
	<section class="newLibro">
		<section class="title">
			<a href="{{ path('admin') }}">Volver a admin</a>
			<h2>Crear nuevo libro</h2>

		</section>
		{{ include('libro/_form.html.twig') }}

		{# <h1>Subir varios libros</h1>
							
							    {{ include('libro/multiple_form.html.twig') }} #}

	</section>
	{{ include('./admin/footer.html.twig')}}
{% endblock %}
