{% extends 'base.html.twig' %}

{% block title %}USERS LIST
{% endblock %}

{% block body %}
	<h1>Lista de usuarios</h1>
    <a href="/">Main</a>
    <a href="{{ path('user_new') }}">Create new</a>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>nombre</th>
				<th>DNI</th>
				<th>Email</th>
				<th>Acciones</th>

			</tr>
		</thead>
		<tbody>
			{% for user in listUsers %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.DNI }}</td>
					<td>{{ user.email }}</td>
					<td>
						<a href="{{ path('user_show', {'id': user.id}) }}">show</a>
						<a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
						<a href="{{ path('user_delete', {'id': user.id}) }}">Eliminar</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Lista vacía</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	
{% endblock %}
