{% extends 'base.html.twig' %}

{% block title %}Curso{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}

<section class="mostrar">
    <h2>Curso</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ curso.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ curso.nombre }}</td>
            </tr>
            <tr>
                <th>Abreviatura</th>
                <td>{{ curso.abreviatura }}</td>
            </tr>
            <tr>
                <th>Edicion</th>
                <td>{{ curso.edicion }}</td>
            </tr>
        </tbody>
    </table>

    <div>
		<button class="btn">
		<a href="{{ path('curso_list') }}">Volver ↩</a>
		</button>
	</div>
</section>

{{ include('./admin/footer.html.twig')}}
{% endblock %}
