{% extends 'base.html.twig' %}

{% block title %}Libro{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}
<section class="show1">
    <h1>Libro</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ libro.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ libro.titulo }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ libro.autor }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ libro.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('libro_lists') }}">back to list</a>
    </section>
    {{ include('./admin/footer.html.twig')}}
{% endblock %}
