{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}

<section class="mostrar">
    <h2>Usuario</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>DNI</th>
                <td>{{ user.DNI }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <div>
		<button>
		<a href="{{ path('user_list') }}">Volver ↩</a>
		</button>
	</div>
</section>

{{ include('./admin/footer.html.twig')}}
{% endblock %}
